<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Advanced</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment color="warning" value="warning">
  <ion-segment-button value="segment" routerLink="/advance">
    <ion-label>Right</ion-label>
  </ion-segment-button>
  <ion-segment-button value="warning" routerLink="/left-a">
    <ion-label>Left</ion-label>
  </ion-segment-button>
</ion-segment>




<!------------ Texan Turn  ------------>


  <ion-card>
    <iframe width="347" height="400" src="https://www.youtube.com/embed/bbm7I7kEu_g" title="Texan turn (Advanced) left-handed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
    <ion-card-header>
      <ion-card-title>Texan Turn</ion-card-title>
      <ion-card-subtitle>Advance (Left) </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The jump rope technique known as the "Texan turn" involves turning the rope 360 degrees while jumping.<br>
       It is a common move performed in jump rope competitions and requires for a high level of timing and coordination.
    </ion-card-content>
  </ion-card>
  

<!------------ Toad  ------------>

  
  <ion-card>
    <iframe width="347" height="400" src="https://www.youtube.com/embed/qOLVQwHkEcs" title="Toad (Advanced) left-handed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
    <ion-card-header>
      <ion-card-title>Toad</ion-card-title>
      <ion-card-subtitle>Advanced (Left)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Toad jumps is basically a criss-cross under your feet. <br>
      one hand crossed on the body and the other hand crossed under the leg
    </ion-card-content>
  </ion-card>


<!------------ Crougar  ------------>


<ion-card>
  <iframe width="347" height="400" src="https://www.youtube.com/embed/LJlpXnHX3kM" title="Crougar (Advanced) left-handed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <ion-card-header>
    <ion-card-title>Crougar</ion-card-title>
    <ion-card-subtitle>Advanced (Left)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    To practise crougar, place your hands under your legs on the same side. <br>
    Crougar has a number of exits, including a cross exit and a side swing exit. <br>
    You can include this skill into your daily routine.
  </ion-card-content>
</ion-card>


<!------------ Switch Cross  ------------>


<ion-card>
  <iframe width="347" height="400" src="https://www.youtube.com/embed/wx6dssEdjYk" title="Switch cross  left-handed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <ion-card-header>
    <ion-card-title>Switch Cross</ion-card-title>
    <ion-card-subtitle>Advanced (Left)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Switch cross jump rope is a jump rope technique that involves switching the position of your arms and crossing the rope in front of the body from dominant side to non-dominant side while jumping .
    <br>It is a more advanced jump rope technique that requires timing and agility.
  </ion-card-content>
</ion-card>


<!------------ Arm Wrap Cross  ------------>


<ion-card>
  <iframe width="347" height="400" src="https://www.youtube.com/embed/BHjCLoTTsUA" title="Arm wrap cross (Advanced) left-handed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <ion-card-header>
    <ion-card-title>Arm Wrap Cross</ion-card-title>
    <ion-card-subtitle>Advanced (Left)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Jump rope method known as the "arm wrap cross" is crossing the rope in front of the body while wrapping it around the arm.
  </ion-card-content>
</ion-card>

</ion-content>
