<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<ion-card color="medium">
  <ion-card-header>
    <div class="fade-in-out">
    <ion-card-title>Welcome</ion-card-title>
    <ion-card-subtitle >How To Jump Rope</ion-card-subtitle>
    </div>
  </ion-card-header>
</ion-card>


<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>Meet Up</ion-card-title>
    <img src="assets/lompat santai.jpg">
    <div class="bounce">
    <ion-card-title>Lompat Santai</ion-card-title>
  </div>
    <ion-card-subtitle>Stadium Bukit Jalil</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p><i>Every thursday 9.00PM</i></p><br>
    Learn | combo | Beginners | Fitness 
  </ion-card-content>
</ion-card>

<ion-card color="light">
  <ion-card-header>
    <ion-card-title>Meet Up</ion-card-title>
    <img src="assets/jump fit.jpg">
    <div class="skew">
    <ion-card-title>Jump Fit Squad</ion-card-title>
  </div>
    <ion-card-subtitle>Elmina Central Park </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <P><i>Every Friday 9pm - 10pm</i></P><br>
    Learn | combo | Beginners | Fitness 
  </ion-card-content>
</ion-card>


<ion-card color="medium">
  <ion-card-title>Types of Rope</ion-card-title>
</ion-card>

<ion-card color="primary">
  <ion-card-header>
    <img src="assets/pvc rope.jpg">
    <ion-card-title>1) Pvc Rope</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A PVC jump rope is a lightweight and durable rope made of PVC plastic. <br>
    It is popular among fitness enthusiasts and athletes due to its durability and easy handling. <br>
    PVC ropes come in different colors and lengths, and are often used for speed and agility training.

    <p>suitable for beginners</p>
  </ion-card-content>
</ion-card>

<ion-card color="secondary">
  <ion-card-header>
    <img src="assets/beaded rope.png">
    <ion-card-title>2) beaded Rope</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A beaded jump rope is a rope that has plastic or wooden beads strung along its length.<br>
    The beads are usually spaced out evenly, and they add weight and resistance to the rope.<br>
    Beaded ropes are popular among jump rope enthusiasts and are often used for freestyle jump rope tricks<br> 
    due to their ability to maintain their shape and create a distinct sound when they hit the ground.

    <p>suitable for freestyle and beginners</p>
  </ion-card-content>
</ion-card>

<ion-card color="tertiary">
  <ion-card-header>
    <img src="assets/heavy rope.jpg">
    <ion-card-title>3) heavy Rope</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A heavy jump rope is a rope that is typically made of a thicker and heavier material than PVC or beaded ropes,<br>
    such as nylon or polyester. The extra weight in the rope provides a more intense workout and can help to build strength and endurance.<br>
    Heavy ropes are often used in CrossFit workouts or as part of a cardio routine. They can be challenging to use at first, <br>
    but with practice, they can provide an effective and fun workout.

    <p>suitable for workout</p>
  </ion-card-content>
</ion-card>


<ion-card color="warning">
  <ion-card-header>
    <ion-card-title>What Is Jump Rope?</ion-card-title>
    <ion-card-subtitle>Jump rope, also known as skipping rope, is a popular physical activity that involves jumping over a rope while it is 
      swung underfoot.<br> It is a simple yet effective exercise that can be performed by people of all ages and fitness levels.<p>
      Jump rope can be done with a variety of techniques and styles, including single jumps, double unders 
      (where the rope passes under the feet twice in one jump), and 
      crossovers (where the arms cross in front of the body while jumping).</p>  <p>
      Jump rope is often used as a form of cardio exercise to improve cardiovascular health, endurance, agility, and 
      coordination.</p> It can be done individually or as part of a group or team activity. Jump rope requires minimal equipment 
      and can be done almost anywhere, making it a convenient and accessible exercise option.</ion-card-subtitle>
  </ion-card-header>

</ion-card>



<ion-footer>
  <ion-toolbar>
    <ion-title>
      Jump Rope Malaysia
    </ion-title>
  </ion-toolbar>
</ion-footer>