<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>About Us</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/jrm.jpeg">
    <ion-card-header>
      <ion-card-title>Jump Rope Malaysia</ion-card-title>
      <ion-card-subtitle>Community</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Stay safe, stay active & jom berjump rope!⁣⁣⁣⁣⁣⁣⁣⁣⁣⁣⁣
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>User Manual</ion-card-title>
    <iframe width="260"eight="300" src="https://www.youtube.com/embed/asD0qUpcD0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card>
    <ion-card-title>Social Media:</ion-card-title>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="logo"><img src="assets/jrm ig.jpg">
      <H2>Jump Rope Malaysia</H2>
    </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="logo"><img src="assets/ls.jpg">
      <H2>Lompat Santai</H2>
    </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="logo"><img src="assets/jfs ig.jpg">
      <H2>Jump Fit Squad</H2>
    </div>
    </ion-card-content>
  </ion-card>

</ion-content>
