<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Tabata</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Beginner Tabata</ion-card-title>
      <ion-card-subtitle>30 Second</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      This tabata is suitable for beginners
    </ion-card-content>
  
    <ion-button fill="clear" routerLink="/bt">Go</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Easy Tabata</ion-card-title>
      <ion-card-subtitle>45 Second </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      This tabata is the next level from beginners
    </ion-card-content>
  
    <ion-button fill="clear" routerLink="/et">Go</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Normal Tabata</ion-card-title>
      <ion-card-subtitle>60 Second </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      1 minute tabata is the most efficient exercise
    </ion-card-content>
  
    <ion-button fill="clear" routerLink="/nt">Go</ion-button>
  </ion-card>


</ion-content>
