<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Beginner</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment color="warning" value="warning">
  <ion-segment-button value="segment" routerLink="/beginner">
    <ion-label>Right</ion-label>
  </ion-segment-button>
  <ion-segment-button value="warning" routerLink="/left">
    <ion-label>Left</ion-label>
  </ion-segment-button>
</ion-segment>





<ion-card>
  <iframe width="347" height="400" src="https://www.youtube.com/embed/7VeAo_JZ9Sw" title="Basic jumps tutorial (Beginner)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <ion-card-header>
    <ion-card-title>Basic Jumps</ion-card-title>
    <ion-card-subtitle>Beginner </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    The basic jump is a fundamental jump in jump rope that involves jumping with both feet together.<br> 
    To perform this jump, you start by standing with your feet together and holding the jump rope handles in both hands, 
    with the rope behind your body. Then, swing the rope overhead and jump off the ground as the rope approaches your feet.<br> 
    As you jump, your feet should clear the rope and land back on the ground at the same time.
  </ion-card-content>
</ion-card>


<!---------------- criss cross ------------------>


<ion-card>
  <iframe width="347" height="400" src="https://www.youtube.com/embed/vslPyDIvea4" title="Criss cross tutorial (Beginner) left-handed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <ion-card-header>
   <ion-card-title>Criss Cross</ion-card-title>
   <ion-card-subtitle>Beginner (Left)</ion-card-subtitle>
 </ion-card-header>

 <ion-card-content>
   Criss cross is the first jump rope skill you should learn. Criss cross is one of the most popular where arms are crossed as you jump. <br>
   You need some effort and patience to learn it. criss cross is also the basis for more difficult skills such as switch cross
 </ion-card-content>
</ion-card>


<!---------------- southpaw ------------------>


<ion-card>
  <iframe width="347" height="400" src="https://www.youtube.com/embed/eYmEVvEc_d8" title="Southpaw tutorial (Beginner) left-handed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>   
  <ion-card-header>
   <ion-card-title>Southpaw</ion-card-title>
   <ion-card-subtitle>Beginner (Left)</ion-card-subtitle>
 </ion-card-header>

 <ion-card-content>
   southpaw is a variation of the side swing, but instead of swinging the rope to the side, you can jump over.
 </ion-card-content>
</ion-card>


<!---------------- Side Swing Cross ------------------>


<ion-card>
  <iframe width="347" height="400" src="https://www.youtube.com/embed/59xjGDedarM" title="Side swing cross (Beginner) left-handed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <ion-card-header>
   <ion-card-title>Side Swing Cross</ion-card-title>
   <ion-card-subtitle>Beginner (Left)</ion-card-subtitle>
 </ion-card-header>

 <ion-card-content>
   Side swing cross jump rope is a rope jump technique that combines two skills, whic is side swing and criss cross. <br>
   Although it takes experience and coordination, the side swing cross jump rope skill may be a fun.
 </ion-card-content>
</ion-card>


<!---------------- eb jump ------------------>


<ion-card>
  <iframe width="347" height="400" src="https://www.youtube.com/embed/Id1EhcgDCiY" title="Eb jumps (Beginner) left-handed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <ion-card-header>
    <ion-card-title>Eb Jumps</ion-card-title>
    <ion-card-subtitle>Beginner (Left)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Eb jumps is variotion of Criss Cross. Eb jumps is like you crossing one arm infront of your body and the other arm crossing behind your body. 
    <br>It almost similar like Criss Cross. But Criss Cross is like you crossing boths of your arm in front of your body
  </ion-card-content>
</ion-card>

</ion-content>